<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services of our Website</title>
</head>
<body>
    
<div class="container" style="text-align: center">
    {% include "navbar.html" %} 
<h1>Services:</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, unde inventore. Voluptate exercitationem a, expedita alias ipsa facere quidem tenetur aliquam tempora veritatis itaque natus voluptatum soluta! Ullam, eius cupiditate, alias doloribus est consequuntur voluptatem id aperiam adipisci sunt reprehenderit. Quam enim, ipsum quaerat eos esse perspiciatis labore voluptatem sint.</p>
<button>contact</button>


</div>



</body>
</html>